<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Contacts</title>
</head>
<body>
<section layout:fragment="header">
<h1>Contacts</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Contacts</li>
</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <form th:action="@{/dashboard/contact/search}" method="post" class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <div class="input-group-append">
                    <input class="form-control form-control-navbar" type="search" name="mot_cle" placeholder="Search" aria-label="Search" />

                    <button class="btn btn-navbar" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <div class="box-header with-border">
            <h3 class="box-title">Liste des contacts</h3>
            <div class="box-tools pull-right">
                <a th:href="@{/dashboard/contact/new}" type="button" class="btn btn-primary">Ajouter Contact</a>
                <br clear="all" />
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Telephone</th>
                </tr>
                <tr th:each="contact : ${contacts}">
                    <td th:text="${contact.id}"></td>
                    <td th:text="${contact.nom}"></td>
                    <td th:text="${contact.email}"></td>
                    <td th:text="${contact.telephone}"></td>
                    <td>
                        <a role="button" class="btn btn-primary" th:href="@{'/dashboard/contact/' + ${contact.id} + '/show'}">Voir</a>
                        <a role="button" class="btn btn-success" th:href="@{'/dashboard/contact/' + ${contact.id} + '/update'}">Modifier</a>
                        <a role="button" class="btn btn-danger" th:href="@{'/dashboard/contact/' + ${contact.id} + '/delete'}">Supprimer</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>